@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
:root {
	--color-background: #ffffff;
}
.dark {
	--color-background: #0c0c0c;
}

#canvas {
	width: 300px;
	height: 300px;
	image-rendering: pixelated;
}
